# git-secret
env/env.development.ts
# git-secret
env/env.production.ts
# git-secret
env/ssh_key

git-secret.key
!/.git-secret/**
node_modules/
dist/
compiled/
.env
packages/library/intl/intl-list-format/locale-data/
packages/library/intl/intl-relative-time-format/locale-data/
packages/library/intl/intl-segmenter/locale-data/
packages/library/ecma-262/test262-polyfill.js
packages/compat/data/
/.idea/
/.cache/
/.vscode/
*.log
/logs/
npm-debug.log*
/lib-cov/
/coverage/
/.nyc_output/
/.grunt/
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.tgz
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem
*.p12
*.crt
*.csr
report.*.json